.day-forecast-card {
  border: 1px solid black;
  flex-grow: 1;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 3px 3px 3px 3px #ccc;
  border-radius: 3px;
  padding: 20px;

  .day-and-date {
    margin-bottom: 20px;
    text-align: center;
  }

  .day-temperature {
    margin-top: 20px;
  }

}