.favorite-card {
  border: 1px solid;
  display: grid;
  padding: 20px;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px #ccc;
  margin-bottom: 15px;

  &:hover {
    background-color: aliceblue;
    cursor: pointer;
  }

  .favorite-weather-icon {
    justify-self: center;
  }

  .favorite-current-temperature {
    justify-self: end;
  }
}
