* {
  box-sizing: border-box;
}

.app {
  height: 100vh;

  .main-header {
    display: flex;
    justify-content: space-between;
    background-color: cornflowerblue;
    align-items: center;
    padding: 15px;
    color: white;
    font-size: 22px;
    font-weight: 500;

    .app-title-and-icon {
      display: flex;
      align-items: center;
      .app-title {
        margin-left: 20px;
        font-weight: bold;
      }
    }

    .nav-btns {
      border-color: white;
      border: 2px solid;
      .toggle-btn {
        color: white;
      }
    }
  }

  .view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
}


