.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  .search-bar {
    margin: 15px;
    width: 100%;
  }

  .weather-view {
    border: 2px solid;
    border-radius: 3px;
    padding: 20px;
    width: auto;
    height: auto;

    .weather-view-header {
      display: flex;
      justify-content: space-between;
      margin: 20px;

      .title {
        display: flex;
        font-weight: 600;
        font-size: 30px;
      }

    .add-to-favorites-btn {
        height: fit-content;
      }
    }

    .current-weather-text {
      text-align: center;
      font-weight: 600;
      font-size: 36px;

      .current-weather-temperature {
        font-weight: 200;
        font-size: 18px;
      }
    }

    .five-days-forecast-container {
      display: flex;
      justify-content: space-between;
      margin: 20px;

    }
  }
}